<p id="notice"><%= notice %></p>

<h1>Merches</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Size</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merches.each do |merch| %>
      <tr>
        <td><%= merch.category %></td>
        <td><%= merch.size %></td>
        <td><%= merch.price %></td>
        <td><%= merch.quantity %></td>
        <td><%= merch.title %></td>
        <td><%= merch.description %></td>
        <td><%= link_to 'Show', merch %></td>
        <td><%= link_to 'Edit', edit_merch_path(merch) %></td>
        <td><%= link_to 'Destroy', merch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merch', new_merch_path %>
