<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @merch.category %>
</p>

<p>
  <strong>Size:</strong>
  <%= @merch.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @merch.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @merch.quantity %>
</p>

<p>
  <strong>Title:</strong>
  <%= @merch.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @merch.description %>
</p>

<%= button_to 'Add to cart', merch_line_items_path(merch_id: @merch.id), method: :post %>


<%= link_to 'Edit', edit_merch_path(@merch) %> |
<%= link_to 'Back', merches_path %>
