<div class="background-container">
  <div class="beats-flexbox">
    <div class="spotify">
      <iframe src="https://open.spotify.com/embed/artist/2B9ZzzgW0gj69OqxAl4XYt" width="250" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="beats-container">
      <ul>LISTEN ON</ul>
      <ul><a href="">SOUNDCLOUD</a></ul>
      <ul><a href="">BEATSTARS</a></ul>
      <p class="nes-text is-disabled out-now"> FEELINGS OUT NOW 💎 </p>
    </div>
  </div>
</div>

<div class="cart-icon-container">
  <%= link_to image_tag("cart.png"), cart_path(@cart), class: "shopping-cart-icon-button" %>
</div>

<div class="left-menu-container">
  <li><%= link_to "MERCH", root_path %></li>
  <li><%= link_to "ARCADE", "/" %></li>
  <li><%= link_to "CLUB", "/" %></li>
  <li><%= link_to "BEATS", songs_path %></li>


</div>

<div class="bottom-right-container">
  <div class="icons-container">
    <%= image_tag "sussoo_icon_blue.png", id: 'bottom-right-logo-blue'%>
    <%= image_tag "sussoo_icon_pink.png", id: 'bottom-right-logo-pink'%>
  </div>
  <div class="logo-container">
    <div class="container">
      <div class="glitch" data-text="SussoO">SussoO</div>
      <div class="glow">SussoO</div>
    </div>
    <div class="scanlines"></div>
  </div>
  <div class="banner-social-links">
    <a href="https://www.instagram.com/sussoobeats/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/oosussoo/"><i class="social-icon fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-discord fa-2x"></i></i></a>
    <a href="https://open.spotify.com/artist/2B9ZzzgW0gj69OqxAl4XYt?si=JOV2bBBiRAONHUJhA0oykg"><i class="social-icon fab fa-spotify fa-2x"></i></i></a>
    <a href="https://soundcloud.com/sussoo-178309003"><i class="social-icon fab fa-soundcloud fa-2x"></i></i></a>
    <%= link_to image_tag("beatstars.png"), "https://www.beatstars.com/sussoo/feed", class: "beatstars" %>
  </div>
</div>









