<p id="notice"><%= notice %></p>

<div class="edit-cart">
  <p style="font-family: 'Press Start 2P', cursive;"><%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', root_path %> </p>
</div>

<% counter = 0 %>
<% @cart.line_items.each do |item| %>
  <% counter += 1 %>
<% end %>
<% @cart.merch_line_items.each do |merch| %>
  <% counter += 1 %>
<% end %>
<% if counter == 0 %>
  <div id="cart-title" class="cart-title">
    <h2> Your Cart is Empty </h2>
  </div>
  <div class="browse-items">
    <p><%= link_to 'Click here to browse exclusive items', root_path %> </p></p>
  </div>
<% else %>
  <div id="cart-title" class="cart-title">
    <h2>Your Cart (<%= counter %>)</h2>
  </div>
<% end %>

  <% @cart.line_items.each do |item| %>
    <div class="cart-container"></div>
      <%= item.song.title %>
    </div>
  <% end %>

  <% price_counter = 0 %>
  <% @cart.line_items.each do |item| %>
    <%= counter += item.song.price %>
  <% end %>

  <% @cart.merch_line_items.each do |item| %>
    <%= counter += item.merch.price %>
  <% end %>


<%= form_tag charges_path, class: "payment-button" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: £ <%= price_counter%> </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Please enter your details below"
          data-label="Proceed to checkout"
          data-locale="auto"></script>
<% end %>
