<p id="notice"><%= notice %></p>




<% counter = 0 %>
<% @cart.line_items.each do |item| %>
  <% counter += 1 %>
<% end %>
<% @cart.merch_line_items.each do |merch| %>
  <% counter += 1 %>
<% end %>
<% if counter == 0 %>
  <div id="cart-title" class="cart-title">
    <h2> Your Cart is Empty </h2>
  </div>
  <div class="browse-items">
    <p><%= link_to 'Click here to browse exclusive items', root_path %> </p></p>
  </div>
<% else %>
  <div id="cart-title" class="cart-title">
    <i class="nes-icon coin is-medium"></i>
    <h2>Your Cart (<%= counter %>)</h2>
    <i class="nes-icon coin is-medium"></i>
  </div>
<% end %>

<div class="edit-cart">
  <p style="font-family: 'Press Start 2P', cursive;"><%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', root_path %> </p>
</div>


<div class="cart-items-container">
  <div class="line-items-flexbox">
    <div class="title-item-container">
      <div class="item-title">
        <ul> ITEM </ul>
      </div>
      <div class="size-title">
        <ul> SIZE </ul>
      </div>
       <div class="qty-title">
        <ul> QTY </ul>
      </div>
      <div class="price-title">
        <ul> PRICE </ul>
      </div>
    </div>
 <% @cart.merch_line_items.each do |item| %>
    <div class="line-item-container">
      <div class="">
        <ul><%= item.merch.title %></ul>
      </div>
      <div class="">
        <ul><%= item.merch.size %></ul>
      </div>
       <div class="">
        <ul><%= link_to item.quantity, edit_merch_line_item_path(item), type: "button", class: "nes-btn is-primary", onclick: "document.getElementById('dialog-dark-rounded').showModal();" %></ul>
      </div>
      <div class="">
        <ul><%= "$#{item.merch.price}" %></ul>
      </div>
      <div class="">
        <ul><%= link_to "Remove", item, method: :delete, data: { confirm: "Are you sure?" } %></ul>
      </div>
    </div>
  <% end %>
  </div>
</div>

<!-- Dark and Rounded dialog -->
<section>
  <dialog class="nes-dialog is-dark is-rounded" id="dialog-dark-rounded">
    <form method="dialog">
      <p class="title">Dark and Rounded dialog</p>
      <p>Alert: this is a dialog.</p>
      <menu class="dialog-menu">
        <button class="nes-btn">Cancel</button>
        <button class="nes-btn is-primary">Confirm</button>
      </menu>
    </form>
  </dialog>
</section>

  <% price_counter = 12 %>
  <% @cart.merch_line_items.each do |item| %>
    <%= counter += item.merch.price %>
  <% end %>

<div class="cart-payment-info">
  <%= form_tag charges_path, class: "payment-button" do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <% total_price = 0 %>
        <% @cart.merch_line_items.each do |item| %>
        <% total_price += item.merch.price %>
        <% end %>
        <span> Total: $<%= total_price %> </span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Please enter your details below"
            data-label="Proceed to checkout"
            data-locale="auto"></script>
  <% end %>
</div>
