<%= video_tag "sussoo_video_background.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>


  <div class="background-container">
      <div class="merch-card">
        <div class="merch-card-image">
        </div>
        <div class="merch-card-title">
          <p>Logo Hoodie $39</p>
          <div class="add-to-basket-button">
            <p>Add to Basket</p>
          </div>
        </div>
      </div>

    <div class="arrows-container">
      <p> < </p>
      <p> > </p>
    </div>
  </div>

<div class="left-menu-container">
  <li><%= link_to "CART", "/" %></li>
  <li><%= link_to "ARCADE", "/" %></li>
  <li><%= link_to "CONTACT", "/" %></li>
</div>

<div class="bottom-right-container">
  <%= image_tag "sussoo_icon_blue.png", class: 'sussoo-logo-icon', id: 'bottom-right-logo'%>
  <div class="logo-container">
    <div class="container">
    <div class="glitch" data-text="SussoO">SussoO</div>
    <div class="glow">SussoO</div>
    </div>
    <div class="scanlines"></div>
  </div>
  <div class="banner-social-links">
    <a href="https://www.instagram.com/sussoobeats/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/oosussoo/"><i class="social-icon fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-discord fa-2x"></i></i></a>
    <a href="#"><i class="social-icon fab fa-spotify fa-2x"></i></i></a>
    <a href="#"><i class="social-icon fab fa-soundcloud fa-2x"></i></i></a>
  </div>
</div>








