<div class="background-container">
  <div class="single-item">
    <% @merches.each_with_index do |merch, index| %>
    <div class="holder">
      <div class="merch-card">
        <div class="merch-card-counter">
          <span class="nes-text is-disabled">
            <%= " #{ index + 1 } / #{@merches.count}" %>
          </span>
        </div>
        <div class="merch-card-image">
          <%= image_tag "sussoo_supreme.png", class: "hoodie-example" %>
        </div>
        <div class="merch-card-title">
          <span class="nes-text is-warning" style="font-size: 14px">
            <%= "#{merch.title} $#{merch.price}" %>
          </span>
          <div class="add-to-basket-button">
            <%= link_to merch_line_items_path(merch_id: merch), method: :post, style:"text-decoration: none;" do %>
              <p>Add to Basket</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="next-arrow">
        <span class="nes-text is-disabled"> > </span>
      </div>
      <div class="prev-arrow">
        <span class="nes-text is-disabled"> < </span>
      </div>
    </div>
    <% end %>
  </div>
  <div class="store-container">
    <p>STORE</p>
  </div>
</div>

<div class="cart-icon-container">
  <%= link_to image_tag("cart.png"), cart_path(@cart), class: "shopping-cart-icon-button" %>
</div>


<div class="left-menu-container">
  <li><%= link_to "MERCH", "/" %></li>
  <li><%= link_to "ARCADE", "/" %></li>
  <li type="button" class="club" onclick="document.getElementById('dialog-dark-rounded').showModal();">
    CLUB
  </li>
  <li><%= link_to "MUSIC", songs_path %></li>
  <div class="banner-social-links">
    <a href="https://www.instagram.com/sussoobeats/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/oosussoo/"><i class="social-icon fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-discord fa-2x"></i></i></a>
    <a href="https://open.spotify.com/artist/2B9ZzzgW0gj69OqxAl4XYt?si=JOV2bBBiRAONHUJhA0oykg"><i class="social-icon fab fa-spotify fa-2x"></i></a>
    <a href="https://soundcloud.com/sussoo-178309003"><i class="social-icon fab fa-soundcloud fa-2x"></i></a>
  </div>
</div>

<!-- Dark and Rounded dialog -->
<section>
  <dialog class="nes-dialog is-dark is-rounded" id="dialog-dark-rounded">
    <form method="dialog">
      <p class="title">Sign Up for Sussoo Notifications</p>
      <p>Alert: this is a dialog.</p>
      <menu class="dialog-menu">
        <button class="nes-btn">Cancel</button>
        <button class="nes-btn is-primary">Confirm</button>
      </menu>
    </form>
  </dialog>
</section>

<div class="bottom-right-container">
  <div class="icons-container">
    <%= image_tag "sussoo_icon_blue.png", id: 'bottom-right-logo-blue'%>
    <%= image_tag "sussoo_icon_pink.png", id: 'bottom-right-logo-pink'%>
  </div>
  <div class="logo-container">
    <div class="container">
      <div class="glitch" data-text="SussoO">SussoO</div>
      <div class="glow">SussoO</div>
    </div>
    <div class="scanlines"></div>
  </div>
</div>









