<%= video_tag "sussoo_video_background.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>


  <div class="background-container">
    <div class="single-item">
      <div class="holder">
        <div class="merch-card">
          <div class="merch-card-image">
            <%= image_tag "hoodie_example.png", class: "hoodie-example" %>
          </div>
          <div class="merch-card-title">
            <h3>Logo Hoodie $39</h3>
            <div class="add-to-basket-button">
              <p>Add to Basket</p>
            </div>
          </div>
        </div>
      </div>
      <div class="holder">
        <div class="merch-card">
          <div class="merch-card-image">
          </div>
          <div class="merch-card-title">
            <h3>Logo Beanie $19</h3>
            <div class="add-to-basket-button">
              <p>Add to Basket</p>
            </div>
          </div>
        </div>
      </div>
      <div class="holder">
        <div class="merch-card">
          <div class="merch-card-image">
          </div>
          <div class="merch-card-title">
            <h3>Logo Trackies $49</h3>
            <div class="add-to-basket-button">
              <p>Add to Basket</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="store-container">
      <p>STORE</p>
    </div>
  </div>



<div class="left-menu-container">
  <li><%= link_to "CART", "/" %></li>
  <li><%= link_to "ARCADE", "/" %></li>
  <li><%= link_to "CONTACT", "/" %></li>
  <li><%= link_to "BEATS", "/" %></li>
</div>

<div class="bottom-right-container">
  <div class="icons-container">
    <%= image_tag "sussoo_icon_blue.png", class: 'sussoo-logo-icon', id: 'bottom-right-logo'%>
    <%= image_tag "sussoo_icon_pink.png", class: 'sussoo-logo-icon', id: 'bottom-right-logo'%>
  </div>
  <div class="logo-container">
    <div class="container">
    <div class="glitch" data-text="SussoO">SussoO</div>
    <div class="glow">SussoO</div>
    </div>
    <div class="scanlines"></div>
  </div>
  <div class="banner-social-links">
    <a href="https://www.instagram.com/sussoobeats/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.facebook.com/oosussoo/"><i class="social-icon fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-youtube fa-2x"></i></a>
    <a href="#"><i class="social-icon fab fa-discord fa-2x"></i></i></a>
    <a href="#"><i class="social-icon fab fa-spotify fa-2x"></i></i></a>
    <a href="#"><i class="social-icon fab fa-soundcloud fa-2x"></i></i></a>
  </div>
</div>








